<% user %>
  <%- include('layout', {user: user}); %>
  <h3 style="text-align:center">We help people all over the bay area get hired</h3>
  <blockquote>Job Chaser is the #1 job site worldwide, with over 100 unique visitors per day, Job Chaser is available in more than 50 countries and 28 languages, covering 94% of global GDP.
  </blockquote>
<blockquote>
	Since 2016, Job Chaser has given job seekers free access to millions of jobs from thousands of company websites and job boards. As the leading pay-for-performance recruitment advertising network, Job Chaser drives millions of targeted applicants to jobs in every field and is the most cost-effective source of candidates for thousands of companies.
Founded by Nik, James, and Ono, Job Chaser is a subsidiary of Recruit Holdings Co., Ltd. For more information about Job Chaser, checkout our main page, press releases or contact us.
</blockquote>

<blockquote>
Mailing Address:

Job Chaser, Inc.
44 Tehama Street
San Francisco, CA 94105

</blockquote>

  </body>
  </html>

