<% user %>
  <%- include('layout', {user: user}); %>
  <h3 id="about-heading">We help people get hired</h3>
  <div class="container">
  <blockquote id="about-quote1">Job Chaser is the #1 job site worldwide, with over 100 unique visitors per day, Job Chaser is available to you for free.
  </blockquote>
<blockquote id="about-quote2">
	Since 2016, Job Chaser has given job seekers free access to millions of jobs from thousands of company websites and job boards. As the leading pay-for-performance recruitment advertising network, Job Chaser drives millions of targeted applicants to jobs in every field and is the most cost-effective source of candidates for thousands of companies.
Founded by Nik, James, and Ono, Job Chaser is a subsidiary of Recruit Holdings Co., Ltd. For more information about Job Chaser, checkout our main page, press releases or contact us.
</blockquote>
<address id="address">
Mailing Address:<br>

Job Chaser, Inc.<br>
44 Tehama Street<br>
San Francisco, CA 94105<br>
</address>

</div>
</div>
</body>

</html>
