extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/jobs',method='get')
    input(type='text',name='job',placeholder='Search for jobs..')
    input(type='button',name='submit_btn',value='Search')