extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/jobs', method='GET', id="form")
    input(type='text', name='title', placeholder='Search for jobs..')
    input(type='text', name='location', placeholder='Location')
    input(type='submit', name='submit_btn', value='Search')
  ul
    if data
      each job in data
        li= job.jobtitle 
