<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="icon" type="image/png" href="/images/favicomatic/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/images/favicomatic/favicon-16x16.png" sizes="16x16">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/stylesheets/style.css">
  
</head>

<body>

<table id='results'>

        <thead>
          <tr>
              <th data-field="reviews">Reviews</th>
              <th data-field="questions">Questions</th>
              <th data-field="stage">Stage</th>
              <th data-field="notes">Notes</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>

          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>

          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>

        </tbody>
      </table>

        <div class="row">
    <form class="col s12" method="POST" action="/tempUsers">
      <div class="row">
        <div class="input-field col s3">
          <input name="reviews" id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Reviews</label>
        </div>
        <div class="input-field col s3">
          <input name="questions" id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Questions</label>
        </div>
        <div class="input-field col s3">
          <input name="stage" id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Stage</label>
        </div>
        <div class="input-field col s3">
          <input name="notes" id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Notes</label>
        </div>
      </div>
    <input type="submit" class="waves-effect waves-light btn" value="button">
    </form>
  </div>
</body>

</html>
