<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Job LIst</title>
</head>

<body>
<h1>Job List</h1>
<ul>
    <li></li>
</ul>
<form method="POST" action="/login"><input type="text" name="email" placeholder="E-mail Address"><br><input type="password" name="password"><br><input type="submit" value="Login"><br></form><a href="/signup">Not a member? Sign-up here for free!</a></body>

</html>